.changelogContent {
    position: absolute;
    width: 18rem;
    height: 34rem;
    top: 1rem;
    left: 1rem;
    border-radius: 0px 15px 15px 0px;
    background-color: aquamarine;
}

@media (max-width: 1800px) {
    .changelogContent {
        top: 0.5rem;
        width: 14rem;
        height: 27rem;
    }
}