.itemFormContainer {
    position: absolute;
    width: 18rem;
    height: 34rem;
    top: 1rem;
    left: 1rem;
    border-radius: 0px 15px 15px 0px; 
    /* background-color: greenyellow; */
}

.itemFormGrid {
    /* background-color: cyan; */
}

@media (max-width: 1800px) {
    .itemFormContainer {
        width: 14rem;
        height: 10rem;
    }
}