
.sidePanelContainer {
    /* Positioning */
    position: absolute;
    display: flex;
    /* Using % prevents from drastically changing position when expanding resolution */
    top: 15%;
    left: 115px;
    /* Use vh to scale with resolution/size of screen EDIT: Nevermind, rem works better.*/
    padding: 18rem 10rem;
    /* Not sure why I'm using width/height here? */
    /* width: 18rem;
    height: 20rem; */
    border-radius: 0px 15px 15px 0px;
    /* Transition animation when side panel slides out */
    transition: left 0.3s ease-in-out;
    background-color: mediumturquoise;
}

/* When a button on the buttonGroup is clicked, move sidePanel to the right */
.sidePanelContainer.open {
    left: 435px;
}

.buttonGroup {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 2rem 0rem;
    border-radius: 0px 15px 15px 0px;
    background-color: red;
}

.contentContainer {
    position: absolute;
    top: 0;
    right: 35px;
    padding: 18rem 10rem;
    /* Ensure size of container is the same as the sidePanelContainer (parent) */
    width: 15rem;
    height: 18rem;
    background-color: #2C664A;
    border-radius: 0px 15px 15px 0px;
    opacity: 0.5;
}

.filter-button {
    color: #b8c4ac;
}

.changelog-button {
    color: #b8c4ac;
}

.add-button {
    color: #b8c4ac;
}

.close-button.MuiIconButton-root {
    color: #b8c4ac;
    bottom: 18rem;
    right: 10rem;
}


@media (max-width: 1800px) {
    .sidePanelContainer {
        /* Use vh to scale with resolution/size of screen EDIT: Nevermind, rem works better.*/
        padding: 14rem 10rem;
    }

    /* When a button on the buttonGroup is clicked, move sidePanel to the right */
    .sidePanelContainer.open {
        left: 355px;
    }

    .contentContainer {
        position: absolute;
        top: 0;
        left: 0px;
        padding: 14rem 8rem;
        /* Ensure size of container is the same as the sidePanelContainer (parent) */
        width: 15rem;
        height: 18rem;
        background-color: #2C664A;
        border-radius: 0px 15px 15px 0px; 
    }
}