.itemContainer {
    position: relative;
    /* display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 3;
            line-clamp: 3; */
    display: flex;
    margin: 0rem -24rem;
    padding: 3rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    background: #FFF3CA;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.itemContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.52) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.itemContainer > div {
    position: absolute;
}

.name {
    /* Restrict name to one line */
    white-space: nowrap;
    /* Hide text after width is 10rem */
    max-width: 10rem;
    /* Hide overflow with ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Positioning */
    top: 1rem;
    left: 7rem;
    /* Font size */
    font-size: 1.5rem;
}

.dateAdded {
    top: 3.8em;
    left: 7rem;
    font-size: 0.8rem;
}

.amount {
    color: black;
    font-size: 1.2rem;
    top: 1.3rem;
    left: 20rem;
}

.comments {
    /* Restrict text into two lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    /* Hide overflow with ellipsis */
    overflow: hidden;
    /* Restrict width of each line to 11rem */
    width: 11rem;
    /* Positioning */
    top: 1.5rem;
    right: 0.5rem;
    color: black;
    font-size: 0.8rem;
    /* background-color: cyan; */
}

.delete-button.MuiIconButton-root {
    /* Positioning */
    position: absolute;
    right: 0rem;
    background-color: red;
    border-radius: 0.3rem;
    color: white;
    padding: 0.1rem;
    /* opacity: 0; */
}

.delete-button.MuiIconButton-root:hover {
    /* opacity: 1; */
}