.itemContainer {
    display: flex;
    justify-content: start;
    align-items: flex;
    position: relative;
    background: #FFF3CA;
    margin: 0rem -24rem;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    top: 0rem;
    
}

.itemContainer > p {
    color: black;
    margin-right: 12rem;
}