/* CSS if the drawer was attached to the list  */
/* .DrawerContainer {
    position: relative;
    background-color: #2C664A;
    bottom: 0rem;
    margin: 25vh 0 25vh 0;
    padding: 0rem 2rem;
} */

.DrawerContainer {
    position: absolute;
    padding: 10rem;
    background-color: #2C664A;
    left: 0rem;
}