@font-face {
    font-family: 'Playfair Display';
    src: url('../../public/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

.ListDashboard {
    position: relative;
    /* Styles to keep listContainer centered */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blue; */
}

/* .listSideBar {
    position: absolute;
} */

.ListContainer {
    position: absolute;
    background-color: #E4EBB1;
    min-width: 25rem;
    padding: 40vh 25rem 40vh 25rem;
    /* Ensure List stays in middle of screen */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0px 15px 15px 15px;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    opacity: 0.5;
}

.ListContainer::-webkit-scrollbar {
    display: none;
}

.ListTitle {
    font-family: "Playfair Display";
    position: absolute;
    font-size: 2rem;
    top: 0rem;
    left: 2rem;
}

.OpenAddFormBtn {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
}

.labelsContainer {
    position: absolute;
    padding: 0rem 10rem;
    /* background-color: cyan; */
    top: 6.5rem;
    left: 0rem;
}

.nameLabel {
    position: absolute;
    background-color: transparent;
    right: 2rem;
}

.amountLabel {
    position: absolute;
    left: 1rem;
}

.labels {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    margin: 0rem -24rem;
    font-size: 1rem;
    padding: 1.2rem;
}

.labels > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
    color: black;
    font-size: 1rem;
    background-color: cyan;
}


.listingsContainer {
    position: absolute;
    left: 25rem;
    top: 10rem;
}   

@media (max-width: 1800px) {
    .ListContainer {
    background-color: cyan;
    /* padding: 40vh 25rem 40vh 25rem; */
    }
}