
.sidePanelContainer {
    /* Positioning */
    position: absolute;
    display: flex;
    /* Using % prevents from drastically changing position when expanding resolution */
    top: 15%;
    left: 115.1px;
    /* use vh to scale with resolution/size of screen */
    padding: 20rem 10rem;
    border-radius: 0px 15px 15px 0px;
    /* Transition animation when side panel slides out */
    transition: left 0.1s ease-in-out;
    /* background-color: mediumturquoise; */
}

/* When a button on the buttonGroup is clicked, move sidePanel to the right */
.sidePanelContainer.open {
    left: 487px;
}

.buttonGroup {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 2rem 0rem;
    border-radius: 0px 15px 15px 0px;
    background-color: #2C664A;
}

.contentContainer {
    position: absolute;
    top: 0;
    right: 35px;
    padding: 15rem 10rem;
    background-color: #2C664A;
    border-radius: 0px 15px 15px 0px; 
}

.filter-button {
    color: #b8c4ac;
}

.changelog-button {
    color: #b8c4ac;
}

.close-button {
    position: absolute;
    margin-right: 2rem;
    color: white;
    bottom: 160px;
    right: 160px;
}
