/* CSS if the drawer was attached to the list  */

.drawerContainer {
    /* Positioning */
    position: absolute;
    display: flex;
    padding: 2vh 0;
    background-color: #2C664A;
    border-radius: 0px 15px 15px 0px;
    left: 0rem; /* Stick to the left edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for exact center */
}