/* CSS if the drawer was attached to the list  */
/* .DrawerContainer {
    position: relative;
    background-color: #2C664A;
    bottom: 0rem;
    margin: 25vh 0 25vh 0;
    padding: 0rem 2rem;
} */

.DrawerContainer {
    /* Positioning */
    position: absolute;
    display: flex;
    padding: 30vh 2vw;
    background-color: #2C664A;
    border-radius: 0px 15px 15px 0px;
    left: 0rem; /* Stick to the left edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for exact center */
}