.tabDashboard {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: green; */
}

.tabContent {
    position: relative;
    background-color: beige;

}

/* .tabContent {
    position: absolute;
    background-color: purple;
    top: 10%;
} */