@font-face {
    font-family: 'McLaren';
    src: url('../../public/McLaren-Regular.ttf') format('truetype');
}

.testTabContainer {
    position: absolute;
    display: flex;
    background-color: blueviolet;
    padding: 40vh 25rem;
}

.testTabs {
    position: absolute;
    top: -40px;
    left: -2.5rem;
    max-width: 55rem;
    background-color: blueviolet;
}

.MuiTabs-root {
    min-height: 1px;
}

@media (max-width: 1800px) {
      .testTabs {
        max-width: 45rem;
      }

    .testTabContainer {
        padding: 40vh 20rem;
    }
}